<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Astrid.Mobile.Droid.Astrid.Mobile.Droid" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="24" />
	<application android:label="Astrid.Mobile.Droid"></application>
</manifest>